<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
       xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd   
       http://www.springframework.org/schema/aop   
       http://www.springframework.org/schema/aop/spring-aop.xsd">
       
    <aop:aspectj-autoproxy/>
       
    <bean id="opBean" class="com.acecorp.Operation"></bean>
    <bean id="trackMyBean" class="com.acecorp.TrackOperation"></bean>
       
	<aop:config>
		<aop:aspect id="myAspect" ref="trackMyBean">
		<!-- @AfterReturning -->
		<aop:pointcut expression="execution(* com.acecorp.Operation.* (..))" id="pointCut"/>
		<aop:after-returning method="myAdvice" returning="result" pointcut-ref="pointCut"/>
		
		</aop:aspect>
	</aop:config>
	
</beans> 