<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  	
  	<bean id="a1" class="com.acecorp.Answers">
  		<constructor-arg value="1" type="int"></constructor-arg>
  		<constructor-arg value="Kalpanic Gaon"></constructor-arg>
  	</bean>
  	<bean id="a2" class="com.acecorp.Answers">
  		<constructor-arg value="2" type="int"></constructor-arg>
  		<constructor-arg value="Khayal Nagar"></constructor-arg>
  	</bean>
  	
	<bean id="que" class="com.acecorp.Question">
		<constructor-arg value="1" type="int"></constructor-arg>
		<constructor-arg value="Which city you like the most?"></constructor-arg>
		<constructor-arg>
			<list>
				<ref bean="a1"/>
				<ref bean="a2"/>
			</list>
		</constructor-arg>
	</bean>
</beans>  